.faq .faq1{
	height:70vh;
	background-color:#002533;
	display:grid;
	grid-template-rows:1fr,1fr,1fr,1fr;
	grid-template-columns:1;
h1{
	justify-self:center;
	margin:5rem;
grid-row:1;
grid-column:1/ span 2;
	font-family: 'Oswald', sans-serif;
	text-align:center;
	color:white;

}
p{

font-size:2rem;
	font-weight: lighter;
	justify-self:center;
	width:50%;
grid-row:2;
	font-family: 'Oswald', sans-serif;

	text-align:center;
	color:white;
}
}
