.last .text{
	padding:1rem;
	margin:0;
	padding:none;
	height:100vh;
	background-color:#000033;
	h1{
		color:white;
		text-align:center
	}
	p{
		color:white;
		text-align:center;
	}
.pic2 img{
	width:50%;
}
}